body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-border {
    width: 500px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #ff0084, cyan);
    border-radius: 5px;
    padding: 3px;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 3px;
    position: relative;
}

h1 {
    color: #000038;
    margin-bottom: 10px;
    margin-top: 0px;
}

p {
    color: lightgray;
    margin-bottom: 40px;
}

.fechar {
    position:absolute ;
    top: 10px;
    right: 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.botao-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.botao {
    display: inline-block;
    padding: 12px 70px;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 10px;
}

.rosa {
    background-color: #ff0084;
    color: white;
}

.azul {
    background-color: #000038;
    color: white;
}
